language: python
python:
  - 3.5
  - 3.6
install:
  - pip install -q -r requirements.txt
  - pip install -q -r docs/requirements.txt
script:
  - pytest
  - cd docs
  - ./rebuild_html_doc.sh
  - cd ..
deploy:
  target-branch: gh-pages
  github_token: "$GITHUB_TOKEN"
  skip-cleanup: true
  local-dir: "./docs/_build/html/"
  provider: pages
  on:
    branch: stable
