name: Docker Image CI

on:
  push:
  pull_request:
  release:
    types: [created]
  schedule:
    # Run the tests at 00:00 each week on sunday
    - cron: '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          docker build . --file Dockerfile --tag poutyne:$(date +%s)
